<div class="dash">
    <h2>Your Task List</h2>
    <p style="font-size:17px">Allocated Tasks For a Day !</p>
</div>
<table class="table mt-5 table-bordered table-striped table-hover ">
    <thead>
      <tr>
        <th scope="col">Sr. No</th>
        <th scope="col">Task Id</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Status</th>
       
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1001</td>
        <td>Make The presentation for upcoming meeting</td>
        <td>2023-09-08</td>
        <td>2023-09-09</td>
        <td>Not Started</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>1002</td>
        <td>Applu EDA on whole Dataset</td>
        <td>2023-09-08</td>
        <td>2023-09-09</td>
        <td>Working</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>1003</td>
        <td>Code for an admin dakshboard using Php and do the documentation in Laravel</td>
        <td>2023-09-08</td>
        <td>2023-09-09</td>
        <td>Completed</td>
      </tr>
     
    </tbody>
  </table>