<!-- topnavbar -->
<div class="topnav shadow p-2">
    <h3 style="font-weight: bolder;">TASK MANAGEMENT SYSTEM(ADMIN DASHBOARD)</h3>
    
    <span class="menu"><i class="bi bi-list"></i></span>
    
     
</div>
<!-- topnavbar -->

<!-- left sidebar nav  -->

<div  class="sidebar shadow p-2"  id="sidebar">
    <ul>
        <li><a routerLink="/admindashboard"><i class="bi bi-speedometer2"></i>Admin Dashboard</a></li>
        <li><a routerLink="/employeedashboard"><i class="bi bi-card-text"></i> Employee Details</a></li>
        <li>
            <a routerLink="/createtask"><i class="bi bi-tag"></i> Create Task <i class="bi bi-arrow-right icon"></i></a>
           
        </li>
        <li>
            <a routerLink="managetask"><i class="bi bi-bag"></i> Manage Task <i class="bi bi-arrow-right icon"></i></a>
           
        </li>
        <li><a routerLink="/tasklist"><i class="bi bi-card-text"></i>Your Tasks List</a></li>
        <li><a routerLink="/reports"><i class="bi bi-card-text"></i>Reports</a></li>
        <li><a routerLink="/applyleave"><i class="bi bi-tag"></i>Apply Leave</a></li>
        <li><a routerLink="/leaveapplication"><i class="bi bi-card-text"></i>Leave Applications</a></li>
        <li><a href="/#"><i class="bi bi-box-arrow-left"></i> Logout</a></li>

    </ul>
</div>


