<form>
    <div class="container">
      <h2>Apply Leave</h2>
      <p>Please fill in this form to apply a leave.</p>
      <hr>
  
      <label for="email"><b>Enter Subject</b></label>
      <input type="text" placeholder="Enter subject" name="email" id="email" required>
  
      <label for="psw"><b>Your Message</b></label>
      <input type="text" placeholder="Enter your message" name="psw" id="psw" required>
  
      
      <hr>
   
      <button type="submit" class="registerbtn">Submit</button>
    </div>
    
     
  </form>
