<div class="dash">
    <h2>Your Task List</h2>
    <p style="font-size:17px">Allocated Tasks For a Day !</p>
</div>
<table class="table mt-5 table-bordered table-striped table-hover ">
    <thead>
      <tr>
        <th scope="col">Sr. No</th>
        <th scope="col">User</th>
        <th scope="col">Subject</th>
        <th scope="col">Message</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Alisha</td>
        <td>Regarding one day CL</td>
        <td>Sir, having the urgent work at home, I can't come to the office today</td>
        <td>Approved</td>
        <td>Approve|Reject</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Nancy</td>
        <td>Regarding two day CL</td>
        <td>Sir, I'm no sick,so can't come to the office, plz approve my leave.</td>
        <td>No Action</td>
        <td>Approve|Reject</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>David</td>
        <td>one week CL</td>
        <td>Sir,there is an emergency at home, so can't come to the office for a week.</td>
        <td>Rejected</td>
        <td>Approve|Reject</td>
      </tr>
     
    </tbody>
  </table>