<form>
    <div class="container">
      <h2>Login Here</h2>
      <p>Please fill this form to Login into the system.</p>
      <hr>
  
      <label for="name"><b>Username</b></label>
      <input type="text" placeholder="Enter EamilId" name="name" id="name" required>
  
      <label for="pass"><b>Password</b></label>
      <input type="text" placeholder="Enter Password" name="pass" id="pass" required>
  
     

      <hr>
   
      <button type="submit" class="registerbtn">Login</button>
    </div>
    
     
  </form>
